<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">

<dom-module id="cotton-search">
    <template>
        <paper-input id="cottonSearchInput" type="search" placeholder="[[searchHolder]]" value="{{condition}}" autofocus noLabelFloat on-keydown="handleKeyDown" on-blur="handleBlur">
            <paper-icon-button prefix icon="search"></paper-icon-button>
        </paper-input>
    </template>

    <style>
        :host paper-input {
            --paper-input-container : {
                padding: 0;
            };
            --paper-input-container-color: var(--secondary-text-color);
            --paper-input-container-input: {
                font-size: 16px;
                width: var(--cotton-search-width, 100%);
                padding: 0;
                margin: 6px 0;
                color: var(--cotton-search-color, --dark-primary-color);
                background: var(--cotton-search-background-color, --primary-background-color);
                border: 1px solid var(--cotton-search-border-color, --primary-text-color);
                border-radius: 4px;
                padding: 2px 6px 2px 0;
            };
            --paper-input-container-underline: {
                display: none;
            };
            --paper-input-container-underline-focus: {
                display: none;
            };
            --paper-input-container-underline-disabled: {
                display: none;
            };
        --paper-input-suffix {
            display: none;
        }
        }

        :host.toolbar paper-input {
            --paper-input-container-input: {
                font-size: 20px;
                width: 100%;
                padding: 0;
                margin: 6px 0;
                background: none;
                border-radius: 0;
                padding: 0;
            }
        }

        :host.ie paper-input ::content input {
            line-height: 0;
            padding-left: 6px;
            width: calc(100% - 6px);
        }

        :host paper-input ::content .floated-label-placeholder {
            display: none;
        }

    </style>

    <script>

        const KeyCode = {
            ENTER: 13,
            ESCAPE : 27
        }

        const CottonSearchDictionary = {
            es : {
                Search : "buscar..."
            },
            en : {
                Search : "search..."
            }
        };

        Polymer({
            is: 'cotton-search',

            timeout: null,
            searchDelay: 500,
            lastCondition: null,

            properties: {
                searchHolder: {
                    type: String,
                    value: function() { return CottonSearchDictionary["es"].Search; },
                    readonly: true
                },
                instantSearch : {
                    type: Boolean,
                    value: function() { return false; }
                },
                condition : {
                    type: String,
                    value : ""
                },
                results : {
                    type: Array,
                    value: []
                }
            },

            attached : function() {
                if (navigator.userAgent.match(/msie/i) || navigator.userAgent.match(/trident/i) )
                    $(this).addClass("ie");
            },

            focus : function() {
                this.$.cottonSearchInput.inputElement.select();
            },

            handleKeyDown: function(event) {

                if (event.keyCode == KeyCode.ESCAPE) {
                    this.fire('escape');
                    return;
                }

                if (this.instantSearch || event.keyCode == KeyCode.ENTER)
                    this.fireSearchDelayed();
            },

            handleBlur: function(event) {
                this.fire("blur");
            },

            fireSearchDelayed: function() {
                if (this.timeout != null)
                    window.clearTimeout(this.timeout);

                var that = this;
                this.timeout = window.setTimeout(function() { that.fireSearch() }, this.searchDelay);
            },

            fireSearch: function() {
                var condition = this.$.cottonSearchInput.value.trim();

                if (condition == this.lastCondition)
                    return;

                this.fire('search', { condition: condition });
                this.lastCondition = condition;
            }

        });

    </script>
</dom-module>
